<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.floodalert">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/flood_icon_main"
            android:label="@string/app_name"
            android:roundIcon="@drawable/flood_icon_main"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:theme">

        <service
                android:name=".services.MyFirebaseMessagingService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:theme="@style/FullTheme"/>
        <activity android:name=".RegistrationActivity"
                  android:theme="@style/FullTheme"/>
        <activity
                android:name=".MainActivity"
                android:theme="@style/FullTheme"/>
        <activity
                android:name=".ViewActivity"
                android:theme="@style/FullTheme"/>
    </application>

</manifest>